* {
margin: 0;
padding: 0;
text-shadow: 2px 2px black;
}
#movieTitle{
    color:#804000;
    position:relative;
    top:15px;
    text-align:center;
    font-size:5em;
    background-color:rgba(128, 63, 0,.6);
    margin-left:5%;
    margin-right:5%;
}
.brownE{
    color:#663200;
}
#desc{
    background-color:rgba(128, 63, 0,.6);
    position:relative;
    top:25px;
  margin-left:5%;
  width:43.5%;
  float:left;
 
}
p{
    text-align:center;
    font-size:2.5em;
    color:white;
}
 body{
     background-image: url("browne.jpeg");
     background-size: 5px;
     
 }
 #Eimg{
     max-width:500px;
     margin:auto;
     display:block;
     padding:10px;
 }
 #imgCont{
     background-color:rgba(128, 63, 0,.6);
    position:relative;
    top:25px;
     margin-left:52.5%;
     margin-right:5%;
 }
#sweepstakes{
    font-size:1.75em;
    padding-left:20px;
    padding-right:20px;
}
form{
    text-align:center;
    font-size:1em;
}
input{
    border-radius:7px;
    width:50%;
    height:35px;
    font-size:15px;
    text-shadow:none;
 
}
button{
      width:50%;
    height:35px;
    font-size:15px;
    text-shadow:none;
}
